doctype html
html(lang="en")
	head
		link(rel="stylesheet", type='text/css', href="/css/landing.css")
		script(src='/js/landing.js')
		script(type='text/javascript').
			setVar('apiUrl', '#{apiUrl}');
	body
		header.main-header
			img.logo(src="https://ddoqvtff54hy.cloudfront.net/wp-content/uploads/2017/07/25165602/logo-basic1.png")
		div(id='container')

			#selectionDisplay.selectionDisplay

			#grid.grid 
