p {
	margin: 0px;
}
.js{
	min-width: 768px;
    background-color: #FFF;
    overflow : hidden;
     
    width: 100%;
    height: 100%;
}
.row {padding: 2em 0 2em 0;
}

.subHeader {
	width: 73%;
    text-align: center;
}
.pre {
    display: none;
}
label {
	display: block;
	margin-bottom: 5px;
}
.cell:hover {
    background: #F7F7F7;
}
.cell { 
	color: #291722;
    border-bottom: 0.5px solid #ddd;
    display:inline-block;
	word-wrap: break-word;
	margin-left: 20px;
    width: 25em; 
	/* border: 2px solid #ddd; */
    padding: 10px;
	font-size:14px;
	font-weight: 400;
	text-align: center;
	 
} 
.th {
    width:25em;
    font-weight: bold;
	font-size: 14px;
}
.nameCell {
	border: 0.5px solid #ddd;
	padding: 10px;
	height: 25px;
	float: left;
	line-height: 25px;
	text-align: left;
}
.labelCell {
	border: 1px solid #ddd;
	padding: 3px;
	width: 200px;
	height: 25px;
	float: left;
}
h2 {   

    font-weight: 300;
    color: #383838;
    font-family: Pingvetica, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
	padding: 2rem;
}

.recoCell {
	border: 1px solid #ddd;
	padding: 3px;
	width: 180px;
	height: 25px;
	float: left;
}
.rowSalesFiller {
	border: 1px solid #ddd;
	padding: 10px;
	width: 1185px;
	height: 25px;
	float: left;
	text-align: center;
	line-height: 25px;
}

.rowReportFiller {
	border: 1px solid #ddd;
	padding: 10px;
	width: 1900px;
	height: 20px;
	float: left;
	text-align: left;
	line-height: 25px;
}

.agIdFiller {
	border: 1px solid #ddd;
	padding: 10px;
	width: 750px;
	height: 25px;
	float: left;
	text-align: center;
	line-height: 25px;
}
.menuToggle {
	text-decoration: none;
    display: inline-block;
    width: 100%;
	position: relative;
	border-style: none;
    color: white; 
    background: #444;
    font-size: 25px;
    height: 34px;
    padding: 21px 26px 49px 16px; 
    cursor: pointer;
    transition: 0.3s;
}
/* UI styling */
body {    
	font-size: 24px;
    font-weight: 250;
	line-height: 6px;
     color: black;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
	height: 100%;
	font-family: Pingvetica, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
    background-color: #FFF !important;
    min-width: 768px;
    -webkit-font-smoothing: antialiased;
}
.topbar {

    text-align: center;
    background: #F7F7F7;
    border-bottom: 1px solid #E6E6E6;
    border-left: 1px solid #e6e6e6;
    color: #383838;
    font-size: 37px;
    line-height: 65px;
    margin-left: 12%;
}
.main-header {
	 
	background: #e71791;
    height: 12%;
    width: 12%;
    text-align: center;
    display: inline-block;
    position: fixed;

}

.logo {
	padding-top: 20px;
}
.selectionDisplay {
	width: 345px;
    height: 100%;
    background-color: #383838;
    display: inline-block;
    width: 12%;
    position: absolute;
 
}
  
.grey-bg {
    background: #F7F7F7;
}

#noRecord {
	content: 'Sorry there were no records found';
	text-align: center;
	background-color: #e71791;

}
.container {
    width:74%;
    height: 100%; 
	display: inline-block;
	max-height: 36em;
    line-height: 1.99em;
}
.grid {
     
    display: inline-block;
    width: 85%;
    position: relative;
    left: 25%;
	
    }

.title {
	color: #867d7d;
    /* position: absolute; */
    margin: 50px 0px 0px 997px;
    padding: 5px;
    text-align: center;
    font-family: sans-serif;
    width: calc(100%-300px);
    font-size: 55px;
    line-height: 74px;
    margin-bottom: 24px;
    font-family: sans-serif;
    text-align: center;
    display: none;

}

.header {
	width:75%;
    align-content: center;
	padding-top:20px; 
	/* width: 1500px;    */
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word; 

}
#show {
	overflow: hidden;
	max-height: 25em;
	display:block;
	margin-left: 0px;
}
 

.form-control, .form-select {
	border:0px;
   outline:0px;
	color:white;
	height: 34px; 
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    background-color: #353131;
    font-size: 15px;
}
.col-md-2 {
	color:white;
	font-size:20px; 
    
	 
}
.wrapper {
    width: 1500px;
    margin-left: 200px;
}
.form-control {
	width:99%;
}
.tab { 
     
    background-color: #353131;
}
.tab button {
	background:  #444;
    color: white;
	text-decoration: none;
    display: inline-block;
    width: 100%;
    position: relative;
    border-style: none;   
    font-size: 25px;
    height: 34px;
    padding: 21px 26px 49px 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background: #383838;
    color: #bababa;
}
.tab button:focus {
	background: #353131;
  }
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

