p {
	margin: 0px;
}
.row {
	width: 2000px;
	height: 30px;
	margin-left: 400px;
	margin-right: auto;
}
.col-md-2 {
	display: inline-block;
	width: 16.6666667%;
	vertical-align: top;
}
.pre {
    display: none;
}
label {
	display: block;
	margin-bottom: 5px;
}
.cell:hover {
    background-color: #f5f5f5;
}
.cell { 
	color: #291722;
    border-bottom: 0.5px solid #ddd;
    display:inline-block;
	word-wrap: break-word;
	margin-left: 20px;
    width: 25em; 
	/* border: 2px solid #ddd; */
    padding: 10px;
    font-size:14px;
	text-align: center;
	 
} 
.th {
    width:25em;
    font-weight: bold;
	font-size: 14px;
}
.nameCell {
	border: 0.5px solid #ddd;
	padding: 10px;
	height: 25px;
	float: left;
	line-height: 25px;
	text-align: left;
}
.labelCell {
	border: 1px solid #ddd;
	padding: 3px;
	width: 200px;
	height: 25px;
	float: left;
}
h2 {   
}
.recoCell {
	border: 1px solid #ddd;
	padding: 3px;
	width: 180px;
	height: 25px;
	float: left;
}
.rowSalesFiller {
	border: 1px solid #ddd;
	padding: 10px;
	width: 1185px;
	height: 25px;
	float: left;
	text-align: center;
	line-height: 25px;
}

.rowReportFiller {
	border: 1px solid #ddd;
	padding: 10px;
	width: 1900px;
	height: 20px;
	float: left;
	text-align: left;
	line-height: 25px;
}

.agIdFiller {
	border: 1px solid #ddd;
	padding: 10px;
	width: 750px;
	height: 25px;
	float: left;
	text-align: center;
	line-height: 25px;
}

/* UI styling */
body {
	font-family: 'helvetica', 'verdana', 'arial', sans-serif;
	color: #666;
	margin: 0;
}
.main-header {
	width: 100%;
	background: #e71791;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 20px;
}
/* #selectionDisplay {
	margin-bottom: 200px; 
} */
.data-row {
	background: #efefef;
	border-radius: 4px;
	border: 0;
	margin-bottom: 10px;
	padding: 5px;
}


.grey-bg {
	background: #efefef;
}
.cell-heading {
	border: solid 1px #ddd;
	padding-left: 10px;
	padding-right: 10px;
	
}
 
.cell:hover {
	background: #e71791;
}
.grey-bg {
    background: #e71791;
}

.container {
    width:74%;
    height: 100%; 
	display: inline-block;
	max-height: 36em;
    line-height: 1.99em;
}
.grid {
	background-color:antiquewhite; 
	padding: 100px 0 0 350px;
	/* padding-top: 50px; */
}

.title {
	color: #f2f2f2; background: #e71791; 
	width:99%;
	font-size: 55px; line-height: 74px; margin: 0 5px 24px; float: left; 
	padding: 10px; margin: 0 5px 24px; font-family: 'Libre Baskerville', serif;
	text-align: center;
}

.header {
	width:75%;
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; */
    align-content: center;
	padding-top:20px; 
	/* width: 1500px;    */
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word; 

}
#show {
	overflow: hidden;
	max-height: 25em;
	display:block;
	margin-left: 0px;
}
 

.form-control, .form-select {
	height: 60px;
    width: 100%;
    display: inline-block;
    margin:15px 3px 20px 0.5px;
    border: solid 1px #ddd;
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
}
.col-md-2 {
	
	 padding-right: 60px;;
	width: 5%; 
	float: left;
}
.wrapper {
    width: 1500px;
    margin-left: 200px;
}

.tab {
	margin-top: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	font-size: 24px;
	padding: 20px 200px 20px 200px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
.tab button:focus {
	background: pink;
  }
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

