p {
	margin: 0px;
}
.row {
	width: 2000px;
	height: 30px;
	margin-left: 400px;
	margin-right: auto;
}
.col-md-2 {
	display: inline-block;
	width: 16.6666667%;
	vertical-align: top;
}
.pre {
    display: none;
}
label {
	display: block;
	margin-bottom: 5px;
}
.cell:hover {
    background-color: #f5f5f5;
}
.cell { 
    border: 0.5px solid #ddd;
    display:inline-block;
    word-wrap: break-word;
    width: 25em; 
	border: 2px solid #ddd;
    padding: 10px;
    font-size:14px;
	text-align: center;
	 
} 
.th {
    border:2px solid green;
    width:25em;
    font-weight: bold;
	font-size: 14px;
}
.nameCell {
	border: 0.5px solid #ddd;
	padding: 10px;
	height: 25px;
	float: left;
	line-height: 25px;
	text-align: left;
}
.labelCell {
	border: 1px solid #ddd;
	padding: 3px;
	width: 200px;
	height: 25px;
	float: left;
}
h2 {
	margin-left: 200px;
	width: 100%;
    text-align:center;
}
.recoCell {
	border: 1px solid #ddd;
	padding: 3px;
	width: 180px;
	height: 25px;
	float: left;
}
.rowSalesFiller {
	border: 1px solid #ddd;
	padding: 10px;
	width: 1185px;
	height: 25px;
	float: left;
	text-align: center;
	line-height: 25px;
}

.rowReportFiller {
	border: 1px solid #ddd;
	padding: 10px;
	width: 1900px;
	height: 20px;
	float: left;
	text-align: left;
	line-height: 25px;
}

.agIdFiller {
	border: 1px solid #ddd;
	padding: 10px;
	width: 750px;
	height: 25px;
	float: left;
	text-align: center;
	line-height: 25px;
}

/* UI styling */
body {
	font-family: 'helvetica', 'verdana', 'arial', sans-serif;
	color: #666;
	margin: 0;
}
.main-header {
	background: #e71791;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 20px;
}
#selectionDisplay {
	margin-bottom: 30px;
}
.data-row {
	background: #efefef;
	border-radius: 4px;
	border: 0;
	margin-bottom: 10px;
	padding: 5px;
}
.form-select {
	height: 40px;
	width: 200px;
	margin-right: 20px;
	border: solid 1px #ddd;
	border-radius: 4px;
	background: #fff;
	font-size: 16px;
}
.grey-bg {
	background: #efefef;
}
.cell-heading {
	border: solid 1px #ddd;
	padding-left: 10px;
	padding-right: 10px;
	
}
.btn{
    border-radius: 25px;
    background: #31b0d5;
    padding: 20px;
    margin-left: 40px;
    margin-bottom: 40px; 
    width: 200px;
    height: 50px;
    color:#efefef;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding: 0.5rem;
}
 
.btn:hover {
	background: #E7178F;
}
.container {
    width:100%;
    height: 100%;
    margin-left: 200px;
    display: inline-block;
}

.grid {
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; */
    align-content: center;
    padding-top:20px; 
	width: 1500px;  
	margin-left: 200px;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word; 
    max-height: 36em;
    line-height: 1.99em;
}

.form-control, .form-select {
    height: 40px;
    width: 100px;
    display: inline-block;
    margin:15px 3px 20px 0.5px;
    border: solid 1px #ddd;
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
}
.col-md-2 {
    display: inline-block;
    width: 120px;
}
.wrapper {
    
}