h2  
p.subHeader Memory
    div(class='header')
        .cell.th.grey-bg
            p(class='name')  Local Time
        .cell.th.grey-bg
            p(class='name')  Name
        .cell.th.grey-bg
            p(class='name')  Value 
        .cell.th.grey-bg
            p(class='name')  Source
    div(id='show')
        - for(var i = 0; i < res.length; i++)
            div(class = 'container')
                div(class='cell')
                    p #{res[i].utcDateTime}
                div(class='cell')
                    p #{res[i].name}
                div(class='cell')
                    p #{res[i].value}%
                div(class='cell')
                    p #{res[i].source}
    button(onclick="showMoreLines()") Show More