.row
	.cell.cell-heading.nameCell.grey-bg
		p Report Sentence
	.cell.cell-heading.purchasesCell.grey-bg
		p 
	.cell.cell-heading.salesCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 




- for(var i = 0; i < res.length; i++)
	div(class='row infoRow')
		div(class='rowReportFiller')
			p #{res[i].sentence}


