.row
	.cell.cell-heading.nameCell.grey-bg
		p Item Name
	.cell.cell-heading.purchasesCell.grey-bg
		p Purchases
	.cell.cell-heading.salesCell.grey-bg
		p Revenue
	.cell.cell-heading.aovCell.grey-bg
		p AOV
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 
	.cell.cell-heading.aovCell.grey-bg
		p 




- for(var i = 0; i < res.length; i++)
	div(class='row infoRow')
		div(class='nameCell')
			p #{res[i].name}
		div(class='cell')
			p #{res[i].purchases}
		div(class='cell')
			p #{res[i].sales}
		div(class='cell')
			p #{res[i].aov}
		div(class='rowSalesFiller')
			p 


