h2 
p.subHeader Response Time
    div(class='header')
        .cell.th.grey-bg
            p Local Time
        .cell.th.grey-bg
            p Name
        .cell.th.grey-bg
            p Value(minutes:seconds)
        .cell.th.grey-bg
            p Source
    div(id='show')
        - for(var i = 0; i < res.length; i++)
            div(class = 'container')
                div(class='cell')
                    p #{res[i].utcDateTime}
                div(class='cell')
                    p #{res[i].name}
                div(class='cell')
                    p #{res[i].value}
                div(class='cell')
                    p #{res[i].source}
    button(onclick="showMoreLines()") Show More